<div class="bucket flickr">
	<img src="http://farm6.staticflickr.com/5043/5255238625_7d90244ee7_b.jpg" alt="The Return of Sleeping Giants" />
</div>
<div class="bucket flickr">
	<img src="http://farm7.staticflickr.com/6158/6247890567_02769329d5_b.jpg" alt="JFK Lives On" />
</div>
<div class="bucket flickr">
	<img src="http://farm7.staticflickr.com/6001/5970733778_3ef3aa99b2_b.jpg" alt="Balloon Ride Awaits" />
</div>
<div class="bucket flickr">
	<img src="http://farm5.staticflickr.com/4004/5145370657_28c979430d_b.jpg" alt="Hills Embrace Light" />
</div>
<div class="bucket flickr">
	<img src="http://farm5.staticflickr.com/4108/4987006177_8339eb4753_b.jpg" alt="Shinnecock" />
</div>
