<div class="bucket nonvid flickr">
		<div class="img-holder">
		<a href="http://www.flickr.com/photos/cj5/7470744578/" target="_blank">
			<img src="http://farm9.staticflickr.com/8167/7470744578_ac07e584bd_b.jpg" alt="From the Shade of a Cypress" />
		</a>
	</div>
		<h2>
		<a target="_blank" href="http://www.flickr.com/photos/cj5/7470744578/">From the Shade of a Cypress</a>
	</h2>
	<p></p>
	<div class="read">
		<a href="http://www.flickr.com/photos/cj5/7470744578/" target="_blank">
						View this <strong>image</strong>
					</a>
	</div>
</div>
<div class="bucket nonvid flickr">
		<div class="img-holder">
		<a href="http://www.flickr.com/photos/cj5/4987006177/" target="_blank">
			<img src="http://farm5.staticflickr.com/4108/4987006177_8339eb4753_b.jpg" alt="Shinnecock" />
		</a>
	</div>
		<h2>
		<a target="_blank" href="http://www.flickr.com/photos/cj5/4987006177/">Shinnecock</a>
	</h2>
	<p>The Ponquoque Bridge located in Hampton Bays, NY in the town of Southampton spans the Shinnecock Bay, connecting Long Island to the barrier island.</p>
	<div class="read">
		<a href="http://www.flickr.com/photos/cj5/4987006177/" target="_blank">
						View this <strong>image</strong>
					</a>
	</div>
</div>
<div class="bucket nonvid flickr">
		<div class="img-holder">
		<a href="http://www.flickr.com/photos/cj5/6247890567/" target="_blank">
			<img src="http://farm7.staticflickr.com/6158/6247890567_02769329d5_b.jpg" alt="JFK Lives On" />
		</a>
	</div>
		<h2>
		<a target="_blank" href="http://www.flickr.com/photos/cj5/6247890567/">JFK Lives On</a>
	</h2>
	<p>Occupy Orange County protestor presenting his message to the 1%.</p>
	<div class="read">
		<a href="http://www.flickr.com/photos/cj5/6247890567/" target="_blank">
						View this <strong>image</strong>
					</a>
	</div>
</div>
<div class="bucket nonvid flickr">
		<div class="img-holder">
		<a href="http://www.flickr.com/photos/cj5/7470748962/" target="_blank">
			<img src="http://farm9.staticflickr.com/8011/7470748962_62cf9d7587_b.jpg" alt="Pt. Reyes Continuity" />
		</a>
	</div>
		<h2>
		<a target="_blank" href="http://www.flickr.com/photos/cj5/7470748962/">Pt. Reyes Continuity</a>
	</h2>
	<p></p>
	<div class="read">
		<a href="http://www.flickr.com/photos/cj5/7470748962/" target="_blank">
						View this <strong>image</strong>
					</a>
	</div>
</div>
<div class="bucket  ">
		<iframe title="YouTube video player" class="youtube-player" type="text/html" width="226" height="139" src="http://video.ak.fbcdn.net/cfs-ak-ash4/v/236781/387/2519528845222_9927.mp4?oh=7cec870ceaa795e4fdbdf6425fb81a7c&oe=50866E90&__gda__=1351033997_0afae5ed0f461cd23cf0ff46df00c78c" frameborder="0" allowFullScreen></iframe>
		<h2>
		<a target="_blank" href="http://www.facebook.com/photo.php?v=2519528845222">Had fun with H today. She was in a good mood</a>
	</h2>
	<p></p>
	<div class="read">
		<a href="http://www.facebook.com/photo.php?v=2519528845222" target="_blank">
						Watch this <strong>video</strong>
					</a>
	</div>
</div>
<div class="bucket  ">
		<iframe title="YouTube video player" class="youtube-player" type="text/html" width="226" height="139" src="http://www.youtube.com/v/2fSSqebvydg?version=3&autohide=1&autoplay=0" frameborder="0" allowFullScreen></iframe>
		<h2>
		<a target="_blank" href="http://www.youtube.com/watch?v=2fSSqebvydg&feature=share">Subscape - Turn Me On</a>
	</h2>
	<p>Here is the much awaited, full version of Subscape's brand new track 'Turn Me On' which is being dropped by the likes of Caspa, Benga, Skream and The Others....</p>
	<div class="read">
		<a href="http://www.youtube.com/watch?v=2fSSqebvydg&feature=share" target="_blank">
						Watch this <strong>video</strong>
					</a>
	</div>
</div>
<div class="bucket  ">
		<iframe title="YouTube video player" class="youtube-player" type="text/html" width="226" height="139" src="http://www.youtube.com/v/gbN4NL13emU?version=3&autohide=1&autoplay=0" frameborder="0" allowFullScreen></iframe>
		<h2>
		<a target="_blank" href="http://www.youtube.com/watch?v=gbN4NL13emU&feature=share">Moguai - Optinuum (Original Mix)</a>
	</h2>
	<p>Support the artist and label! Buy this track on !!! <a href="http://bit.ly/dGd1O5" rel="nofollow" target="_blank">http://bit.ly/dGd1O5</a> !!! ARTIST: Moguai TITLE: Optinuum REMIX TITLE: Original Mix GENRE: Progressive Hous...</p>
	<div class="read">
		<a href="http://www.youtube.com/watch?v=gbN4NL13emU&feature=share" target="_blank">
						Watch this <strong>video</strong>
					</a>
	</div>
</div>
<div class="bucket  ">
		<iframe title="YouTube video player" class="youtube-player" type="text/html" width="226" height="139" src="http://www.youtube.com/v/Phh6Ea8t9eQ?version=3&autohide=1&autoplay=0" frameborder="0" allowFullScreen></iframe>
		<h2>
		<a target="_blank" href="http://www.youtube.com/watch?v=Phh6Ea8t9eQ&feature=share">Twice Thou - The Bank Attack (Official Video)</a>
	</h2>
	<p>For the best viewing experience, watch in 1080p or 720p (HD). -- Executive produced by Antonio 'Twice Thou' Ennis for The BuyBack Initiative / Music Group Wr...</p>
	<div class="read">
		<a href="http://www.youtube.com/watch?v=Phh6Ea8t9eQ&feature=share" target="_blank">
						Watch this <strong>video</strong>
					</a>
	</div>
</div>
<div class="bucket nonvid ">
		<div class="img-holder">
		<a href="http://www.washingtonpost.com/blogs/ezra-klein/files/2012/09/Parfait-using-debt-gdp-2001-2019-5-12-11-FINAL.jpg" target="_blank">
			<img src="http://external.ak.fbcdn.net/safe_image.php?d=AQD3Q8bJq-opdfNa&w=90&h=90&url=http%3A%2F%2Fwww.washingtonpost.com%2Fblogs%2Fezra-klein%2Ffiles%2F2012%2F09%2FParfait-using-debt-gdp-2001-2019-5-12-11-FINAL.jpg" alt="Tax cuts and wars account for HALF the deficit." />
		</a>
	</div>
		<h2>
		<a target="_blank" href="http://www.washingtonpost.com/blogs/ezra-klein/files/2012/09/Parfait-using-debt-gdp-2001-2019-5-12-11-FINAL.jpg">Tax cuts and wars account for HALF the deficit.</a>
	</h2>
	<p></p>
	<div class="read">
		<a href="http://www.washingtonpost.com/blogs/ezra-klein/files/2012/09/Parfait-using-debt-gdp-2001-2019-5-12-11-FINAL.jpg" target="_blank">
						Read this <strong>story</strong>
					</a>
	</div>
</div>
<div class="bucket nonvid flickr">
		<div class="img-holder">
		<a href="http://www.flickr.com/photos/cj5/5970733778/" target="_blank">
			<img src="http://farm7.staticflickr.com/6001/5970733778_3ef3aa99b2_b.jpg" alt="Balloon Ride Awaits" />
		</a>
	</div>
		<h2>
		<a target="_blank" href="http://www.flickr.com/photos/cj5/5970733778/">Balloon Ride Awaits</a>
	</h2>
	<p>This is the cabled balloon ride that rises above Orange County. This is one of the features of the Orange County Great Park, in Irvine, CA.</p>
	<div class="read">
		<a href="http://www.flickr.com/photos/cj5/5970733778/" target="_blank">
						View this <strong>image</strong>
					</a>
	</div>
</div>
<div class="bucket nonvid ">
		<div class="img-holder">
		<a href="http://www.amazon.com/Ratification-People-Debate-Constitution-1787-1788/dp/0684868547%3FSubscriptionId%3DAKIAJZVEM3TBCT2JAYOA%26tag%3Dodewebdesigns-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0684868547" target="_blank">
			<img src="http://ecx.images-amazon.com/images/I/51ZvGB9txZL._SL160_.jpg" alt="Ratification: The People Debate the Constitution, 1787-1788" />
		</a>
	</div>
		<h2>
		<a target="_blank" href="http://www.amazon.com/Ratification-People-Debate-Constitution-1787-1788/dp/0684868547%3FSubscriptionId%3DAKIAJZVEM3TBCT2JAYOA%26tag%3Dodewebdesigns-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0684868547">Ratification: The People Debate the Constitution, 1787-1788</a>
	</h2>
	<p>When the delegates left the Constitutional Convention in Philadelphia in September 1787, the new Constitution they had written was no more than a proposal. Elected conventions in at least nine of the thirteen states would have to ratify it before it could take effect. There was reason to doubt whether& <a href="http://search.twitter.com/search?q=%23133" rel="nofollow" target="_blank">#133</a>;</p>
	<div class="read">
		<a href="http://www.amazon.com/Ratification-People-Debate-Constitution-1787-1788/dp/0684868547%3FSubscriptionId%3DAKIAJZVEM3TBCT2JAYOA%26tag%3Dodewebdesigns-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0684868547" target="_blank">
						Buy from <strong>Amazon</strong>
					</a>
	</div>
</div>
<div class="bucket nonvid ">
		<div class="img-holder">
		<a href="http://www.founditemclothing.com/t-shirts/caduceus.html" target="_blank">
			<img src="http://external.ak.fbcdn.net/safe_image.php?d=AQDb7eFn2c_3A7Al&w=90&h=90&url=http%3A%2F%2Fwww.founditemclothing.com%2Ft-shirts%2Fgfx%2Fcaduceus-shirt%2Fcaduceus-shirt.jpg" alt="Cameron Frye | Caduceus T-Shirt | Ferris Bueller's Day Off" />
		</a>
	</div>
		<h2>
		<a target="_blank" href="http://www.founditemclothing.com/t-shirts/caduceus.html">Cameron Frye | Caduceus T-Shirt | Ferris Bueller's Day Off</a>
	</h2>
	<p></p>
	<div class="read">
		<a href="http://www.founditemclothing.com/t-shirts/caduceus.html" target="_blank">
						Read this <strong>story</strong>
					</a>
	</div>
</div>
<div class="bucket nonvid ">
		<div class="img-holder">
		<a href="http://www.guardian.co.uk/commentisfree/2012/oct/17/daryl-hannah-transcanada-keystonexl-pipeline?fb=optOut" target="_blank">
			<img src="http://external.ak.fbcdn.net/safe_image.php?d=AQCQmEfFGbh6v8B2&w=90&h=90&url=https%3A%2F%2Fstatic-secure.guim.co.uk%2Fsys-images%2FGuardian%2FPix%2Fpictures%2F2012%2F10%2F16%2F1350418898341%2FDaryl-Hannah-protesting-K-003.jpg" alt="Why I'm standing up to TransCanada's Keystone XL pipeline in east Texas" />
		</a>
	</div>
		<h2>
		<a target="_blank" href="http://www.guardian.co.uk/commentisfree/2012/oct/17/daryl-hannah-transcanada-keystonexl-pipeline?fb=optOut">Why I'm standing up to TransCanada's Keystone XL pipeline in east Texas</a>
	</h2>
	<p>Daryl Hannah: Don't buy the tale that this tar sands oil will make the US energy-independent. It's export for profit, even as spills poison our water</p>
	<div class="read">
		<a href="http://www.guardian.co.uk/commentisfree/2012/oct/17/daryl-hannah-transcanada-keystonexl-pipeline?fb=optOut" target="_blank">
						Read this <strong>story</strong>
					</a>
	</div>
</div>
<div class="bucket nonvid ">
		<div class="img-holder">
		<a href="http://www.facebook.com/media/set/?set=a.214226773774.133035.9423488774&type=3" target="_blank">
			<img src="http://photos-b.ak.fbcdn.net/hphotos-ak-ash3/554226_10151098491258775_1001425488_s.jpg" alt="Wall Photos" />
		</a>
	</div>
		<h2>
		<a target="_blank" href="http://www.facebook.com/media/set/?set=a.214226773774.133035.9423488774&type=3">Wall Photos</a>
	</h2>
	<p></p>
	<div class="read">
		<a href="http://www.facebook.com/media/set/?set=a.214226773774.133035.9423488774&type=3" target="_blank">
						Read this <strong>story</strong>
					</a>
	</div>
</div>
<div class="bucket  ">
		<iframe title="YouTube video player" class="youtube-player" type="text/html" width="226" height="139" src="http://www.youtube.com/v/rPOOlqbdTjk?version=3&autohide=1&autoplay=0" frameborder="0" allowFullScreen></iframe>
		<h2>
		<a target="_blank" href="http://www.youtube.com/watch?v=rPOOlqbdTjk&feature=share">Fox & Friends Lose Minds Over Basic Math</a>
	</h2>
	<p>Ben Stein, oddly, played the voice of reason on Fox and Friends this morning, explaining that the deficit cannot be lowered without raising taxes on the rich...</p>
	<div class="read">
		<a href="http://www.youtube.com/watch?v=rPOOlqbdTjk&feature=share" target="_blank">
						Watch this <strong>video</strong>
					</a>
	</div>
</div>
<div class="bucket nonvid ">
		<div class="img-holder">
		<a href="http://www.facebook.com/media/set/?set=a.225932444186870.49466.225921714187943&type=3" target="_blank">
			<img src="http://photos-a.xx.fbcdn.net/hphotos-ash4/299415_292806637499450_1354562140_s.jpg" alt="Wall Photos" />
		</a>
	</div>
		<h2>
		<a target="_blank" href="http://www.facebook.com/media/set/?set=a.225932444186870.49466.225921714187943&type=3">Wall Photos</a>
	</h2>
	<p></p>
	<div class="read">
		<a href="http://www.facebook.com/media/set/?set=a.225932444186870.49466.225921714187943&type=3" target="_blank">
						Read this <strong>story</strong>
					</a>
	</div>
</div>
<div class="bucket nonvid flickr">
		<div class="img-holder">
		<a href="http://www.flickr.com/photos/cj5/5145370657/" target="_blank">
			<img src="http://farm5.staticflickr.com/4004/5145370657_28c979430d_b.jpg" alt="Hills Embrace Light" />
		</a>
	</div>
		<h2>
		<a target="_blank" href="http://www.flickr.com/photos/cj5/5145370657/">Hills Embrace Light</a>
	</h2>
	<p>The hills of at sunset in the Irvine Open Space Preserve. This photo was a finalist in the <a href="<a href="http://cityofirvine.org/cityhall/citymanager/pio/40th_anniversary/40th_anniversary_photo_contest_finalists.asp" rel="nofollow" target="_blank">http://cityofirvine.org/cityhall/citymanager/pio/40th_anniversary/40th_anniversary_photo_contest_finalists.asp</a>" target="_blank" rel="nofollow">Irvine City's 40th Anniversary Photo Contest</a></p>
	<div class="read">
		<a href="http://www.flickr.com/photos/cj5/5145370657/" target="_blank">
						View this <strong>image</strong>
					</a>
	</div>
</div>
<div class="bucket  ">
		<iframe title="YouTube video player" class="youtube-player" type="text/html" width="226" height="139" src="http://www.youtube.com/v/BQKPFwpKyE4?version=3&autohide=1&autoplay=0" frameborder="0" allowFullScreen></iframe>
		<h2>
		<a target="_blank" href="http://www.youtube.com/watch?v=BQKPFwpKyE4">"Why You Don't Even Know That A Presidential Candidate Was Arrested Last Night" - MOC #179</a>
	</h2>
	<p>A Presidential Candidate was arrested last night AT THE PRESIDENTIAL DEBATE. And as if that's not insane enough, it's not even news?! Is that the kind of cou...</p>
	<div class="read">
		<a href="http://www.youtube.com/watch?v=BQKPFwpKyE4" target="_blank">
						Watch this <strong>video</strong>
					</a>
	</div>
</div>
<div class="bucket nonvid flickr">
		<div class="img-holder">
		<a href="http://www.flickr.com/photos/cj5/5255238625/" target="_blank">
			<img src="http://farm6.staticflickr.com/5043/5255238625_7d90244ee7_b.jpg" alt="The Return of Sleeping Giants" />
		</a>
	</div>
		<h2>
		<a target="_blank" href="http://www.flickr.com/photos/cj5/5255238625/">The Return of Sleeping Giants</a>
	</h2>
	<p>One of the most beautiful and under-appreciated forests of Southern California: Cleveland National Forest.</p>
	<div class="read">
		<a href="http://www.flickr.com/photos/cj5/5255238625/" target="_blank">
						View this <strong>image</strong>
					</a>
	</div>
</div>
<div class="bucket nonvid flickr">
		<div class="img-holder">
		<a href="http://www.flickr.com/photos/cj5/7470753812/" target="_blank">
			<img src="http://farm8.staticflickr.com/7272/7470753812_1d3f4a9aec_b.jpg" alt="It Was a Dream" />
		</a>
	</div>
		<h2>
		<a target="_blank" href="http://www.flickr.com/photos/cj5/7470753812/">It Was a Dream</a>
	</h2>
	<p></p>
	<div class="read">
		<a href="http://www.flickr.com/photos/cj5/7470753812/" target="_blank">
						View this <strong>image</strong>
					</a>
	</div>
</div>
